<!DOCTYPE html>
<script src="script.js"></script>
<html>
<head>
	<title>Smart Price</title>
	<link rel = "stylesheet" href="style.css" />
	<script type="/script.js"></script>
</head>
<body>
<div class "header">
	<h1 id="heading" >Smart Price</h1>
	<p>Price your Ebay items appropriately!</p>
</div>
	</div>

	<form action="" method="post" novalidate>

	  <p>
	    {{ form.item.label }}<br>
	    {{ form.item(size=32) }}
	  </p>
		<p>
			{{ form.categories.label }}<br>
			{{ form.categories(size=1) }}
		</p>

		<p>
			{{ form.condition.label }}<br>
			{{ form.condition(size=1) }}
		</p>

			<p>{{ form.button() }}</p>
	</form>

	<br />


</body>
</html>
