<!DOCTYPE html>
<script src="script.js"></script>
<html>
<head>
	<title>Smart Price</title>
	<link rel = "stylesheet" href="static/css/style.css" />
	<script type="/script.js"></script>
</head>
<body>
<div class "header">
	<h1 id="heading" >Smart Price</h1>
</div>
	</div>

	<form action="" method="post">
	  <p>
			{{form.hidden_tag()}}
	    {{ form.item.label }}<br>
	    {{ form.item(size=32) }}
	  </p>
	</div>
	<div class = "category">
		<p>
			{{ form.categories.label }}<br>
			{{ form.categories(size=1) }}
		</p>
	</div>
	<div class = "condition">
		<p>
			{{ form.condition.label }}<br>
			{{ form.condition(size=1) }}
		</p>
	</div>
			<p>{{ form.submit() }}</p>
	</form>

	<br />

</body>
